<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
        
    <div class="p-4 mx-4 bg-blue-400 w-[500px] h-[400px] rounded">
            <h3 class="text-center text-white font-semibold text-[32px] mb-6">Welcome To My Quiz App</h3>
            <label for="quantity" class="block text-white">Total Question</label>
            <input type="number" name="quantity"  id="quantity" min="10" max="50" class="outline-none">
    
        </div>
</body>
</html>